body {
    padding: 40px;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.flex {
    display: flex;
    flex-wrap: wrap;
}
@keyframes spin {
    from {
        transform: rotate(0deg);
   }
    to {
        transform: rotate(359deg);
   }
}
@keyframes fill {
    0% {
        opacity: 0;
   }
    50%, 100% {
        opacity: 1;
   }
}
@keyframes mask {
    0% {
        opacity: 1;
   }
    50%, 100% {
        opacity: 0;
   }
}
.m-progress-loader {
    background: #e6e6e6;
    border-radius: 50%;
    font-size: 6rem;
    height: 1em;
    margin: 30px;
    overflow: hidden;
    position: relative;
    width: 1em;
    font-size: 200px;
}
.m-progress-loader::before, .m-progress-loader::after {
    background: #b3b3b3;
    content: " ";
    display: block;
    height: 1em;
    position: absolute;
    width: 0.5em;
}
.m-progress-loader::before {
    animation: spin 2s linear infinite;
    border-radius: 999px 0 0 999px;
    transform-origin: 0.5em 0.5em;
}
.m-progress-loader::after {
    animation: fill 2s steps(1, end) infinite;
    border-radius: 0 999px 999px 0;
    opacity: 0;
    right: 0;
    top: 0;
}
.m-progress-loader.is-done::before, .m-progress-loader.is-done::after {
    animation: none;
    opacity: 1;
}
.m-progress-loader.is-done .m-progress-loader--mask {
    animation: none;
    background: #f3f5f6;
    border-radius: 0;
    height: 0.25em;
    left: 50%;
    top: 50%;
    transform-origin: center;
    transform: translate(-50%, -75%) rotate(-45deg);
    width: 0.5em;
    z-index: 4;
}
.m-progress-loader.is-done .m-progress-loader--mask::before, .m-progress-loader.is-done .m-progress-loader--mask::after {
    background: #b3b3b3;
    border-radius: 1em;
    bottom: 0;
    content: " ";
    display: block;
    left: 0;
    position: absolute;
}
.m-progress-loader.is-done .m-progress-loader--mask::before {
    height: 100%;
    width: 0.09em;
}
.m-progress-loader.is-done .m-progress-loader--mask::after {
    height: 0.09em;
    width: 100%;
}
.m-progress-loader--fill {
    background: #f3f5f6;
    border-radius: 50%;
    height: 0.9em;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: 0.9em;
    z-index: 3;
}
.m-progress-loader--mask {
    animation: mask 2s steps(1, end) infinite;
    background: inherit;
    border-radius: 999px 0 0 999px;
    height: 1em;
    position: absolute;
    width: 0.5em;
}
.mm-progress-loader--publishing::before, .mm-progress-loader--publishing::after {
    background: #74da7a;
}
.mm-progress-loader--publishing.is-done .m-progress-loader--mask::before, .mm-progress-loader--publishing.is-done .m-progress-loader--mask::after {
    background: #74da7a;
}
.mm-progress-loader--scheduling::before, .mm-progress-loader--scheduling::after {
    background: #f0cc4e;
}
.mm-progress-loader--scheduling.is-done .m-progress-loader--mask::before, .mm-progress-loader--scheduling.is-done .m-progress-loader--mask::after {
    background: #f0cc4e;
}